alarme RCDATA "..\\assets\\icons\\alarme.png"
alarme_hover RCDATA "..\\assets\\icons\\alarme-azul.png"
calendar RCDATA "..\\assets\\icons\\calendar.png"
calendar_hover RCDATA "..\\assets\\icons\\calendar-azul.png"
home RCDATA "..\\assets\\icons\\home.png"
home_hover RCDATA "..\\assets\\icons\\home-azul.png"
rc_web0 RCDATA "..\\assets\\webview\\index.html"
rc_web1 RCDATA "..\\assets\\webview\\scripts.js"
rc_web2 RCDATA "..\\assets\\webview\\style.css"
Resource_1 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\cef.pak"
Resource_2 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\cef_100_percent.pak"
Resource_3 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\cef_200_percent.pak"
Resource_4 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\cef_extensions.pak"
Resource_5 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\d3dcompiler_43.dll"
Resource_6 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\d3dcompiler_47.dll"
Resource_7 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\devtools_resources.pak"
Resource_8 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\icudtl.dat"
Resource_9 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\libcef.dll"
Resource_10 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\libEGL.dll"
Resource_11 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\libGLESv2.dll"
Resource_12 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\natives_blob.bin"
Resource_13 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\snapshot_blob.bin"
Resource_14 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\widevinecdmadapter.dll"
Resource_15 RCDATA "..\\assets\\components\\chromium\\bin\\Win32\\wow_helper.exe"
